@import "tailwindcss";  
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: 'Inter';
    src: url('/assets/inter.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* Colores */
    --color-primary: #3490dc;
    --color-secondary: #ffed4a;
    --color-primary-dark: #2779bd;
    /* Breakpoints */
     --breakpoint-xs: 30rem;
    /* font-sizes */
    --font-display: 'Inter', system-ui , sans-serif;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}
